@use '../base/variables' as v;

.header{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 2rem;
    background-color: #1E1F25;
    -webkit-box-shadow: 0px 19px 23px -3px rgba(14,15,18,1);
    -moz-box-shadow: 0px 19px 23px -3px rgba(14,15,18,1);
    box-shadow: 0px 19px 23px -3px rgba(14,15,18,1);
}

.navegacion-principal{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 3rem;

    a {
        position: relative;
        color: v.$blanco;
        font-size: 2rem;
    }
      
    a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: gray;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    
}
